<div class='container mt-3'>
  <h1>Longest Word Game</h1>
  <% @letters.each do |letter| %>
    <span class='letter'><%= letter.capitalize %></span>
  <% end %>
  <p>What is the longest word you can find?</p>
  <form action='score' method='post' data-turbo='false'>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%# Below creates a params for letters that can be passed to the score method %>
    <%= hidden_field_tag :letters, @letters %>
    <div class='input-group'>
      <input class='form-control form-control-lg' type='text' name='word'>
      <button class='btn btn-secondary btn-large' type='submit'>Play</button>
    </div>
  </form>
</div>
